@using FrontEnd.Components
@page "/"
@inject HttpClient Http

<PageTitle>Home</PageTitle>

<div class="login-container">
    <h1 class="size-font">Welcome back!</h1>

    <div class="form-container">
        <div class="form-group">
            <Field>
                <FieldLabel>Email address</FieldLabel>
                <TextEdit Placeholder="Email" />
            </Field>
        </div>
        <div class="form-group">
            <Field>
                <FieldLabel>Password</FieldLabel>
                <TextEdit Placeholder="Password"/>
            </Field>
        </div>
        <Button Color="Color.Primary" Size="Size.Large" style="border-radius: 30px;">
            <span style="white-space: pre;">               Get in              </span>
        </Button>
    </div>
    <div class="form-group">
        <Divider DividerType="DividerType.TextContent" Text="or"/>
    </div>
    <GoogleButton/>
    <h6 style="display: flex; gap: 10px;">Don't have an account? 
        <NavLink href="/auth/register">
            <p class="account-creation">Create account</p>
        </NavLink>
    </h6>
</div>

@code {
    private string email = "";
    private string password = "";
    private List<Usuario> data= [];

    protected override async Task OnInitializedAsync()
    {
        try
        {
            // Make the GET request
            data = await Http.GetFromJsonAsync<List<Usuario>>("http://35.169.88.222:8080/api/login/jau@gmail.com/123");
            Console.WriteLine($"Data loaded with {data[0]} users.");
            
        }
        catch (Exception ex)
        {
            Console.Error.WriteLine($"Error fetching data: {ex.Message}");
        }
    }

    public class Usuario
    {
        public int Id { get; set; }
        public string usuario { get; set; }
        public string contrasena { get; set; }

        public Usuario(int id, string username, string password)
    {
        Id = id;
        usuario = username;
        contrasena = password;
    }
    }

}