@using FrontEnd.Components
@page "/projects"

<div class="columns-project">
   <div class="center-content">
	<Button Color="Color.Primary" style="border-radius: 30px; width: 150px">+ New Project</Button>
	<h2>Projects</h2>
	<Divider style="margin-top: 0"/>
	<Field>
	   <Addons>
	      <Addon AddonType="AddonType.Body">
	      	<TextEdit Placeholder="Search Project"/>
	      </Addon>
	      <Addon AddonType="AddonType.End">
		<AddonLabel>
		   <Image Source="images/magnifying-glass.png" Text="Search Icon" style="height: 30px"/>
		</AddonLabel>
	      </Addon>
	   </Addons>
	</Field>
   </div>
   <p>4</p>
   <p>4</p>
</div>

