@inherits LayoutComponentBase
<div class="page">

    <main>
        <div class="sidebar">
            <PageHeader />
        </div>

        <div class="main-content">
            @Body
        </div>
    </main>
</div>
